<main>
    <div class="row">
        <div class="col-sm-12 text-center">
            <br /> <br />

            @if ((bool)ViewData["Status"])
            {
                <h1 class="text-success">Gracias!</h1>

                <h2 class="text-success">Su reserva fue realizada con éxito.</h2>
                <h4>ID de la transacción: @ViewData["IdTransaccion"]</h4>

                <br />
                <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Volver al inicio</a>
            } else
            {
                <h1 class="text-danger">Lo sentimos</h1>
                <h2 class="text-danger">Su reserva no fue realizada.</h2>
                <br />
                <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Volver al inicio</a>
            }
        </div>
    </div>
</main>
